.aloha-editable ol li {
	list-style: decimal;
} 

.aloha-editable ul li {
	list-style: disc;
} 

.aloha-editable ul,
.aloha-editable ol {
	padding-left: 20px;
}

.aloha-editable p {
	padding-bottom: 20px;
}

.aloha-editable p:last-child {
    padding-bottom: 0px;
}

.aloha-editable.maxlength-limted p {
	padding-bottom: 0;
}

.aloha-editable table td {
	border: solid 1px gray;
}

textarea.form-textarea {
	width: 98%;
}

.aloha-link-href-field {
    background-color: #fff;
    padding: 2px;
    margin-left: 2px;
    border: 1px solid #ccc;
}

.aloha-input-invalid {
	border: 1px solid red;
}

td .aloha-editable,
.fieldset-content .aloha-editable {
	margin-bottom: 0px;
}
